<app-menu></app-menu>
<app-go-back></app-go-back>
<img class="space" src="../../assets/img/movie.png" alt="movie_tape">

<div class="container">
    <div class="title"><h1>{{globals.movie.original_title}}</h1></div>
    <div class="overview">{{globals.movie.overview}}</div>
    <div class="release-date">Release date: {{globals.movie.release_date}}</div>
    <div class="vote-average">Vote average: {{globals.movie.vote_average}}/10</div>
</div>


<div class="media container">
    <img class="poster" src="{{globals.posterPath}}" alt="{{globals.movie.original_title}}">
    <iframe class = "trailer" width="550" height="315"
        [src]="urlSafe">
    </iframe>
</div>

<div class="add-comment container">
    <textarea name="comment-area" id="comment-area" rows="5" maxlength="2000" placeholder="Type your comment here..." [(ngModel)]="globals.commentText"></textarea>
    <button class="btn btn-success btn-addComment" (click)="addComment()">Add comment</button>
</div>
<div class="comments-container">
    <div class="container">
        <div class="each_comment" *ngFor="let comment of selectedComments">
            <div class="username">
                    {{comment.user.login}}             
            </div>
            <div class="avatar">
                <img src="../../assets/img/{{comment.user.img}}" alt="asd">
            </div>
            <div class="comment-text">
                    {{comment.comment}}  
            </div>
        </div>
    </div>
</div>