<div class="inputTitle container">
  <input type="text" placeholder="Search for movie by title" id="search" class="title" (keyup)="onKey($event)">
  <div class="dropdown-content">
    <div class="movie" *ngFor="let movie of moviesList" [routerLink]="['/movies', movie.id, movie.original_language]">
      <img class="image" 
          alt="{{movie.original_title}}"
          src="{{movie.poster_path != null ? imgPath+movie.poster_path : '../../assets/img/default.png'}}">
      <p class="search-title">{{movie.original_title}}</p>
    </div>   

  </div>        
                                                        
  <p>or...</p>
</div>

<div class="movie_info container">
    <label for="form-title">Title</label>
    <input id="form-title" type="text" [(ngModel)]="selectedTitle">
    <label for="form-control">Original language</label>
    <select class="form-control language" [(ngModel)]="selectedLanguage">
      <option value="en">English</option>
      <option value="es">Espaniol</option>
      <option value="ja">Japan</option>
    </select>
   <label for="ifadult">If adult</label>
      <select class="form-control ifadult" [(ngModel)]="selectedAdult">
        <option value="true">Adult</option>
        <option value="false">Children</option>
    </select>
  <button type="button" class="btn btn-success btn-filter" (click)="getFilteredMovies()">Search for movies</button>
</div>

<div class="block row">
  <div class="filteredMovies" *ngFor="let movie of moviesSearch">
    <div class="movie-info-main">
      <img class="image-big" 
                alt="{{movie.original_title}}"
                src="{{movie.poster_path != null ? imgPath+movie.poster_path : '../../assets/img/default.png'}}">
      <h2 class="title-big">{{movie.original_title}}</h2>
    </div>
    <star-component [rating]='movie.vote_average'></star-component>
    <div class="movie-description">{{movie.overview.length < 200 ? movie.overview : movie.overview.slice(1,200)+'...'}}</div>
    <div class="movie-btn">
      <button class="btn btn-danger" [routerLink]="['/movies', movie.id, movie.original_language]">See more details</button>
    </div>
  </div>
</div>

<div class="container btn-loadmore row" *ngIf="moviesSearch.length != 0 && total_pages >= page">
  <button class="btn btn-success btn-loadmore" (click)="getFilteredMovies()">Load more movies</button>
</div>