*{
    font-family: 'Open Sans Condensed', sans-serif;
}

.inputTitle {
    margin-top: 50px;
    text-align: center;
    position: relative;

  }

.title {
    padding: 6px 12px;
    font-size: 12px;
    position: relative;
    color: #0042B2;
    border: .3px solid #0042B2;
    width: 30%;
}

.movie_info {
    text-align: center;
}

.btn-filter {
    margin-top: 30px;
}

#form-title {
    display: block;
    margin : 0 auto;
    width: 100%;
}

label {
    margin: 10px 0;
}

.movie {
    border: .5px solid #0042B2;
    width: 30%;
    margin: 0 auto;
    margin-top: 1px;
    transition: all .4s;
}

.movie:hover {
    cursor: pointer;
    background-color: orangered;
}
.image {
    margin-top: 5px;
    width: 50px;
}
