*{
    font-family: 'Open Sans Condensed', sans-serif;
}

.user-details {
    margin-top: 50px;
}

.cancel {
    margin-left: 10px;
}

.avatar {
    height: 100px;
    max-width: 150px;
    margin-bottom: 10px;
}

.inputfile {
    margin: 0 auto;
    width: 85%;
    height: 100%;
    border: .4px solid #0042B2;
}