<nav class="stroke">
  <ul>
    <li><a 
      [routerLink]="['/movies']" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a 
      [routerLink]="['/search']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Search for movies</a></li>
      <li *ngIf="loggedIn"><a 
      [routerLink]="['/profile']" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Account information</a></li>
  </ul>
  <app-user-info></app-user-info>
</nav>
