.icon {
    transition: all 1s;
    font-size: 20px;
}

i:hover {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.red {
    color: red;
}

.black {
    color: black;
}

.like_it {
    font-size: 11px;
    color: red;
    font-weight: normal;
    letter-spacing: .3px;
    margin-left: 3px;
}