.arrow-box {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 9999;
    position: fixed;
}

.goBack {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.my-arrow {
    font-size: 60px;
    color: orangered;
    transition: all .4s;
}

.my-arrow:hover {
    cursor: pointer;
    color: crimson;
}
