
.user-avatar {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.btn-menu {
    font-size: 15px;
}

#logout {
    color: red;
    font-weight: bold;
}

#logout:hover {
    cursor: pointer;
}


.em {
    margin-right: 15px;
}